@mixin rainbow-gradient() {
    background: linear-gradient(to bottom,#e2453c 0,#e2453c 16%,#e07e39 16%,#e07e39 32%,#e5d667 32%,#e5d667 48%,#51b95b 48%,#51b95b 66%,#1e72b7 66%,#1e72b7 86%,#6f5ba7 86%) no-repeat !important;
}
@mixin progress-gradient() {
    background: linear-gradient(to bottom,#100f0d 0,#100f0d 9%,#a05a2e 9%,#a05a2e 18%,#5eb9da 18%,#5eb9da 27%,#f255ad 27%,#f255ad 36%,#f4f6f5 36%,#f4f6f5 45%,#e21b2c 45%,#e21b2c 54%,#f68824 54%,#f68824 63%,#f4ec1a 63%,#f4ec1a 72%,#26824a 72%,#26824a 81%,#244a8e 81%,#244a8e 90%,#433476 90%) no-repeat !important;
}

@mixin navbar-light() {
    .navbar-brand, .navbar-dark .navbar-nav .nav-link {
        color: black;
    }
    .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: black;
        text-decoration: underline;
    }
}

@mixin navbar-transparent-background() {
    .navbar-brand {
        background: #3337;
        height: 100%;
        left: 0px;
        padding: .5rem 0rem;
        width: 17rem;

    }
    .navbar-nav > li .nav-link {
        color: white;
    }
    .navbar-nav > li {
        background: #3337;
        height: 100%;
        left: 0px;
        padding: .5rem 0rem;
    }
}

@mixin dark-themes($background, $flavor-color: #eee) {
    $text-color: #eee;
    color: $text-color;
    @include syntax-dark;
    background-color: $background;

    .contributors-line{
        color: $text-color;
    }
    img {
        background: #aaa;
    }

    .navbar-brand {
        img{
            background: none;
        }
    }
    .navbar {
        background-color: #424a66 !important;
    }

    div[data-toggle="toc"] .nav > li > a {
        color: #ccc;
    }
    div[data-toggle="toc"] .nav li .active {
        color: $text-color;
    }

    a {
        color: #7bf;

        &:hover,
        &:focus,
        &:active {
            color: #a8d2ff;
        }
    }

    :not(a) > code {
        background-color: #333333;
        color: #ffa0a0;
    }

    .card {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, .125);
    }

    #search-container input.nicer {
        @include input-nicer(white);
    }

    a.list-group-item {
        background: $background;
        border: 1px solid $flavor-color;
    }

    .table {
        td, th {
            border-top: 1px solid $flavor-color;
        }
        thead th {
            border-bottom: 2px solid $flavor-color;
        }
    }

    .newstable{
        h5 {
            margin-top: 0px;
            color: $text-color !important;
        }
        a.newstitle{
            font-color: $text-color;
        }
    }

    .dropdown-item {
        color: $text-color;

        a.btn {
            color: black;
        }

        &:focus, &:hover {
            background: #444;
        }
    }

    .dropdown-menu {
        background: $background;
        border: 1px solid $flavor-color;
    }

    .text-muted {
        color: #9d9b9b !important;
    }

    footer {
        color: #9d9b9b;
    }


    nav[data-toggle='toc'] {
        .nav {
            li {
                a {
                    &:hover,
                    &:focus,
                    &:active{
                        color: #2375ce;
                    }
                }

                .active {
                        color: #2375ce;
                }
            }
        }
    }
}

body.theme-night {
    @include dark-themes(#444444);
    @include syntax-dark;
}

body.theme-midnight {
    @include dark-themes(#000);
    @include syntax-dark;
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-themes(#000);
        @include syntax-dark;
    }
}

body.theme-halloween {
    @include dark-themes(#222, orange);
    @include syntax-dark;
    @include navbar-light();

    h1, h2, h3, h4 {
        color: orange;
    }

    h1::before {
        content: "🎃 ";
    }
    h1::after {
        content: " 🎃";
    }
    h2::before {
        content: "👻 ";
    }
    h2::after {
        content: " 👻";
    }

    .navbar-brand {
        img{
            background: none;
        }
    }
    .navbar {
        background-color: orange !important;
    }

    div[data-toggle="toc"] .nav li .active {
        &::after {
            content: " 🧙‍♀️";
        }
    }
    #search-container input.nicer {
        @include input-nicer(black);
    }

}


body.downunder {
    transform:rotate(180deg);
}

body.theme-straya {
    h1::before {
        content: "🦘 ";
    }
    h1::after {
        content: " 🦘";
    }
    h2::before {
        content: "🐨 ";
    }
    h2::after {
        content: " 🐨";
        display: inline-block;
        transform: scale(-1, 1) translateX(-1rem);
    }
}

body.theme-rainbow {
    h1::before {
        content: "🌈 "
    }
    h1::after {
        content: " 🌈 ";
        display: inline-block;
        transform: scale(-1, 1) translateX(-1rem);
    }
    header {
        nav.navbar {
            @include rainbow-gradient();
            padding: 0;
        }

        @include navbar-transparent-background();
    }

    .tutorials-list:not(.topic-type-use) table.table-striped {
        tbody tr:nth-of-type(5n+1) td:not(:first-child) { color: red; i{color: red} }
        tbody tr:nth-of-type(5n+2) td:not(:first-child) { color: orange; i{color: orange} }
        tbody tr:nth-of-type(5n+3) td:not(:first-child) { color: green; i{color: green} }
        tbody tr:nth-of-type(5n+4) td:not(:first-child) { color: blue; i{color: blue} }
        tbody tr:nth-of-type(5n+5) td:not(:first-child) { color: purple; i{color: purple} }
    }

    .tutorials-list.topic-type-use table.table-striped {
        tbody tr td:nth-of-type(6n+2) { color: red; i{color: red} }
        tbody tr td:nth-of-type(6n+3) { color: orange; i{color: orange} }
        tbody tr td:nth-of-type(6n+4) { color: green; i{color: green} }
        tbody tr td:nth-of-type(6n+5) { color: blue; i{color: blue} }
        tbody tr td:nth-of-type(6n+6) { color: purple; i{color: purple} }

        thead th:nth-of-type(6n+2) { color: red }
        thead th:nth-of-type(6n+3) { color: orange }
        thead th:nth-of-type(6n+4) { color: green }
        thead th:nth-of-type(6n+5) { color: blue }
        thead th:nth-of-type(6n+6) { color: purple }

    }

}

body.theme-progress {
    h1::before {
        content: "🌈 "
    }
    h1::after {
        content: " 🌈 ";
        display: inline-block;
        transform: scale(-1, 1) translateX(-1rem);
    }
    header {
        nav.navbar {
            @include progress-gradient();
            padding: 0;
        }

        @include navbar-transparent-background();
    }

    .tutorials-list:not(.topic-type-use) table.table-striped {
        tbody tr:nth-of-type(5n+1) td:not(:first-child) { color: red; i{color: red} }
        tbody tr:nth-of-type(5n+2) td:not(:first-child) { color: orange; i{color: orange} }
        tbody tr:nth-of-type(5n+3) td:not(:first-child) { color: green; i{color: green} }
        tbody tr:nth-of-type(5n+4) td:not(:first-child) { color: blue; i{color: blue} }
        tbody tr:nth-of-type(5n+5) td:not(:first-child) { color: purple; i{color: purple} }
    }

    .tutorials-list.topic-type-use table.table-striped {
        tbody tr td:nth-of-type(6n+2) { color: red; i{color: red} }
        tbody tr td:nth-of-type(6n+3) { color: orange; i{color: orange} }
        tbody tr td:nth-of-type(6n+4) { color: green; i{color: green} }
        tbody tr td:nth-of-type(6n+5) { color: blue; i{color: blue} }
        tbody tr td:nth-of-type(6n+6) { color: purple; i{color: purple} }

        thead th:nth-of-type(6n+2) { color: red }
        thead th:nth-of-type(6n+3) { color: orange }
        thead th:nth-of-type(6n+4) { color: green }
        thead th:nth-of-type(6n+5) { color: blue }
        thead th:nth-of-type(6n+6) { color: purple }

    }

    p:nth-child(8n+7)::selection {background: hsl(285,76%,57%)}
    p:nth-child(8n+0)::selection {background: hsl(330,76%,57%)}
    p:nth-child(8n+1)::selection {background: hsl(15,76%,57%)}
    p:nth-child(8n+2)::selection {background: hsl(60,76%,57%)}
    p:nth-child(8n+3)::selection {background: hsl(105,76%,57%)}
    p:nth-child(8n+4)::selection {background: hsl(150,76%,57%)}
    p:nth-child(8n+5)::selection {background: hsl(195,76%,57%)}
    p:nth-child(9n+6)::selection {background: hsl(240,76%,57%)}
    li:nth-child(8n+7)::selection {background: hsl(285,76%,57%)}
    li:nth-child(8n+0)::selection {background: hsl(330,76%,57%)}
    li:nth-child(8n+1)::selection {background: hsl(15,76%,57%)}
    li:nth-child(8n+2)::selection {background: hsl(60,76%,57%)}
    li:nth-child(8n+3)::selection {background: hsl(105,76%,57%)}
    li:nth-child(8n+4)::selection {background: hsl(150,76%,57%)}
    li:nth-child(8n+5)::selection {background: hsl(195,76%,57%)}
    li:nth-child(9n+6)::selection {background: hsl(240,76%,57%)}
}
